.popup__profile-close {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -30px;
    right: 0;
    background-image: url(../../../../images/close.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.popup__profile-close:hover {
    opacity: 0.8;
}

@media (min-width: 1024px) {
    .popup__profile-close {
        width: 32px;
        height: 32px;
        top: -38px;
        right: -38px;
    }
}