.popup__username {
    margin: 75px 0 23px;
    padding: 0 0 10px;
    max-width: 358px;
    min-height: 27px;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    color: #000000;
    font-size: 14px;
    line-height: 17px;
    outline: none;
}

@media (min-width: 1024px) {
    .popup__username {
        margin: 47px 0 30px;
    }
}